@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.nav-bee {
    background-color: rgb(255, 218, 21);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Sen';
    padding-bottom: 3rem;

}

.nav-bee img {
    max-width: 100%;
    height: auto;
}

.nav-bee a {
    color: black;
    font-size: 10vw;
    font-weight: 700;
    font-style: bold;
    
}

@media screen and (max-width: 700px) {
    .nav-bee {
        background-color: rgb(255, 218, 21);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: 'Sen';

    }

    .nav-bee-img img {
        max-width: 80%;
        height: auto;
        align-self: flex-start;
    }

    .nav-bee a {
        color: black;
        font-size: 10vw;
        font-weight: 700;
    }
}