@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Sen&display=swap');

.main-qr {
    margin-top: 10rem;
    margin-bottom: 10rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;


}

.main-qr label {

    text-align: center;
    width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 4vw;
    line-height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: #000000;
}

.yellow-container {
    max-width: 20%;
    border-radius: 50%;
    padding: 5%;
    background-color: #FFDA15;
    display: flex;
    align-items: center;
    justify-content: center;
}

#camera {
    background-color: white;
    border-radius: 15px;
    max-width: 80%;

}

@media screen and (max-width: 400px) {
    .main-qr {
        margin-top: 10rem;
        margin-bottom: 10rem;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .main-qr label {
        margin-top: 10rem;
        text-align: center;
        width: 50%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 5vw;
        line-height: auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
        color: #000000;
    }

    .yellow-container {
        max-width: 20%;
        border-radius: 50%;
        padding: 5%;
        background-color: #FFDA15;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #camera {
        background-color: white;
        border-radius: 15px;
        max-width: 80%;

    }
}